# Python
__pycache__/
*.pyc
dbt_venv/
airflow_venv/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
*.duckdb

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
simple_auth_manager_passwords.json.generated

# OS
.DS_Store
EOFdbt_project/.user.yml
